<div class="row" style="margin: 2%">
  <ng-container *ngIf="countryData; else elseBlock">
    <div *ngFor="let item of homeModal" style="margin-left: 10%">
      <div [ngClass]="item.class">
        <div class="card-body">
          <label for="item.name">{{ item.name }}</label>
          <strong>{{ countryData[item.key] }}</strong>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="row justify-content-center" style="margin: 5%">
  <div class="col-12 col-md-5 col-lg-4">
    <ng-container *ngIf="countryData; else elseBlock">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <td>Population</td>
            <td>
              <strong>{{ countryData.population }}</strong>
            </td>
          </tr>
          <tr>
            <td>Cases per million</td>
            <td>
              <strong>{{
                (countryData.confirmed / countryData.population) * 1000000
                  | number: "2.2"
              }}</strong>
            </td>
          </tr>
          <tr>
            <td>Active Ratio</td>
            <td>
              <strong>{{
                ((countryData.confirmed -
                  (countryData.recovered + countryData.deaths)) /
                  countryData.confirmed) *
                  100 | number: "2.2"
              }}</strong>
            </td>
          </tr>
          <tr>
            <td>Recovery Ratio</td>
            <td>
              <strong>{{
                (countryData.recovered / countryData.confirmed) * 100
                  | number: "2.2"
              }}</strong>
            </td>
          </tr>
          <tr>
            <td>Death Ratio</td>
            <td>
              <strong>{{
                (countryData.deaths / countryData.confirmed) * 100
                  | number: "2.2"
              }}</strong>
            </td>
          </tr>
        </table>
      </div>
    </ng-container>
    <ng-template #elseBlock>
      <h2>No data found</h2>
    </ng-template>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="loadingmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="spinner-border text-primary" role="status"></div>
        <p style="margin-top: 5%">Loading...</p>
      </div>
    </div>
  </div>
</div>
